@page "/"

@using PIZZERIA.Models;

<h1>Nuestra selección de Pizzas</h1>
@foreach (var pizza in Estado.Menu.Pizzas)
{
    <div class="row">
        <div class="col">
            @pizza.Nombre
        </div>
        <div class="col text-right">
            @($"{pizza.Precio:0.00}")
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="@PicanteImagenes(pizza.Picantes)"
                 alt="@pizza.Picantes" />
        </div>
        <div class="col">
            <button class="btn btn-success pl-5 pr-5"
            @onclick="@(() => AddCesta(pizza))">
                Agregar
            </button>
        </div>
    </div>
}
@if (Estado.Canasta.Ordenes.Any())
{
    <h1 class="">Your current order</h1>

    @foreach (var (pizza, pos) in Estado.Canasta.Ordenes.Select((id, pos)
   => (Estado.Menu.GetPizza(id), pos)))
    {
        <div class="row mb-2">
            <div class="col">
                @pizza.Nombre
            </div>
            <div class="col text-right">
                @($"{pizza.Precio:0.00}")
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-danger"
                @onclick="@(() => RemoverDeLaCanasta(pos))">
                    Remove
                </button>
            </div>
        </div>
    }
    <div class="row">
        <div class="col"></div>
        <div class="col"><hr /></div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>

    <div class="row">
        <div class="col"> Total:</div>
        <div class="col text-right font-weight-bold">
            @($"{Estado.PrecioTotal:0.00}")
        </div>
        <div class="col"> </div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
}
@code {
    private Estado Estado { get; } = new Estado();
    protected override void OnInitialized()
    {
        Estado.Menu.Add(
        new Pizza(1, "Pepperoni", 8.99M, Picantes.Picante));
        Estado.Menu.Add(
        new Pizza(2, "Margarita", 7.99M, Picantes.Ninguno));
        Estado.Menu.Add(
        new Pizza(3, "Diabolo", 9.99M, Picantes.MuyPicante));
    }
    private string PicanteImagenes(Picantes picantes)
    => $"Fotos/{picantes.ToString().ToLower()}.png";

    private void AddCesta(Pizza pizza)
    => Estado.Canasta.Add(pizza.PizzaId);
    private void RemoverDeLaCanasta(int pos)
    => Estado.Canasta.RemoveAt(pos);
}
